.top {
    width: 100%;
    height: 40px;
    background-color: #cce5ff;
/*    border:solid 1px red;*/
}
.left {
    width: 14%;
    height: 100%;
    float:left;
    padding-right: 1%;
/*    border-right: 1px solid;*/
}
.main {
    float: left;
    height: 100%;
    width: 85%
 }

label {
  display: block;
}


#add_tran table{
  border-collapse: collapse;
  background: #f0f0f5;
  margin-top: 10px;
}

#user_transaction_table {
  border-collapse: collapse;
  text-align: left;
  font-size: 80%;
}

#user_transaction_table thead {
  cursor: pointer;
  background: #f0f0f5;
}


#portfolio_table {
  border-collapse: collapse;
  text-align: left;
  font-size: 80%;
}


#portfolio_table thead {
  cursor: pointer;
  background: #f0f0f5;
}

#portfolio_table tr.lastrow{
  background-color: #cce5ff;
}

#portfolio_table th, td {
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  padding-right: 20px;
}

#portfolio_table td.colorshow {
  color: red;
}